/*CSS document*/

body {
    text-align: left;
    font-family: agenda, sans-serif;
    font-weight: 400;
    font-style: normal;
    background: url("frosting.jpg");
}

div.container {
    max-width: 80em;
    margin: auto;
    padding: 2em;
}

figure {
    margin: 0;
}

figure figcaption {
    margin-bottom: 2.75em;
    color: rgb(100,135,103);
    font-family: agenda, sans-serif;
    font-weight: 100;
    font-style: italic;
    padding-top: 0.5em;
}

img {
    width: 100%;
}

ul {
    list-style-type: none;
}

nav ul {
    padding: 0em;
    line-height: 2em;
}

nav ul li {
    display: inline;
    font-size: 1.2em;
    text-transform: uppercase;
    letter-spacing: 0.04em;
    margin-right: 1em;
    font-family: agenda, sans-serif;
    font-weight: 100;
    font-style: normal;

}

nav ul li a {
    text-decoration: none;
    color: rgb(10,10,10);
}

.main-story h3{
    color: rgb(230,230,230);
}

section.main-story {
    background-color: rgba(81,123,123,0.75);
}

h1 {
    width: 15em;
}

h2, h3 {
    font-family: agenda, sans-serif;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    line-height: 1.4em;
    font-size: 1.4em;
    max-width: 90%;
    margin: 1.5em 0em 0em 0em;
}

h2 {
    color: rgb(216,84,70);
}

@media screen and (max-width:40em) {
    
    h1 {
        width: auto;
    }
    
    section.tertiary {
        margin-bottom: 1.5em;
    }
    
     section.secondary {
        margin-bottom: 1.5em;
    }
    
    section.main-story {
        margin-bottom: 1.5em;
    }
}

@media screen and (min-width:60em) {
    
    div.container {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-gap: 0 1em;
    }
    
    h1 {
        grid-column: 1/2;
    }
    
    div.menu {
        grid-column: 1/3;
        display: grid;
        grid-template-columns: 1fr 2fr;
    }
    
    nav {
        width: 100%;
        margin-top: 9.6em;
    }
    
    section.main-story {
        max-width: 100%;
        grid-column: 1/2;
        margin-bottom: 1.5em;
        grid-row: 2/3;
    }
    
    section.secondary {
        padding: 1em;
    }
    
    section.secondary h3 {
        margin: .5em 0em 0em;
        max-width: 100%;
    }
    
    aside {
        grid-column: 2/3;
        grid-row: 2/3;
        margin: 0;
        max-width: 100%;
    }
    
    aside section.secondary {
        margin-bottom: 1.5em;
    }
    
    section.tertiary {
        margin-bottom: 1.5em;
        padding: 1.5em 4em 2em 1.5em;
    }
    
    section.tertiary h3 {
        margin: 0;
    }
    
    section.tertiary p {
        margin-bottom: 0;
        padding: 0;
    }
    
    div.photo-articles {
        grid-column: 1/3;
        display: grid;
        grid-template-columns: repeat(5,1fr);
        grid-gap: 0 1em;
    }
    
    footer {
        grid-column: 1/3;
    }
}

section {
    background-color: rgba(180,180,180,0.75); 
    padding: 2em 3em;
    margin: 0em;
    max-width: 40em;
}

section a {
    text-decoration: none;
    color: rgb(10,10,10);
}

section p {
    padding: 0em 0em 1.5em 0em;
}

footer {
    font-family: bello-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgba(25,25,25,0.2);
    padding-top: 1em;
    font-size: 1.2em;
}

footer p {
    margin: auto;
}

article {
    background-color: rgba(240,240,240,0.9);
    padding: 1.5em 3em;
}

article figure {
    margin: 2em 0em;
}

article p {
    margin-bottom: 1.5em;
}

div.photo-gallery {
    max-width: 55em;
    margin: auto;
    grid-column: 1/3;
}

main.photo-gallery {
    position: relative;
    overflow: hidden;
    padding-bottom: calc(56% + 3em);
    width: 100%;
    margin: auto;
}

main.photo-gallery figure {
    margin: 0;
    width: 100%;
    position: absolute;
    left: 100%;
    transition: left 1s, opacity 1s;
    opacity: 0;
}

main.photo-gallery img {
    width: 100%;
}

nav.photo-gallery {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-gap: .2em;
    margin: 0;
}

label {
    flex: 1 0 5em;
}

input {
    display: none;
}

input:nth-of-type(1):checked ~ main figure:nth-of-type(1),
input:nth-of-type(2):checked ~ main figure:nth-of-type(2),
input:nth-of-type(3):checked ~ main figure:nth-of-type(3),
input:nth-of-type(4):checked ~ main figure:nth-of-type(4)
input:nth-of-type(5):checked ~ main figure:nth-of-type(5),
input:nth-of-type(6):checked ~ main figure:nth-of-type(6),
input:nth-of-type(7):checked ~ main figure:nth-of-type(7),
input:nth-of-type(8):checked ~ main figure:nth-of-type(8)
input:nth-of-type(9):checked ~ main figure:nth-of-type(9),
input:nth-of-type(10):checked ~ main figure:nth-of-type(10),{
    left: 0;
    opacity: 1;
}
